#dht22_tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dht22-icon {
    margin-right: 2px;
}

#dht22_log {
    background-color: #282828;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    height: 200px;
    overflow-y: auto;
}
