<div class="form-group">
    <label for="settingsplugin_dht22_tab_arduino_ip" class="control-label">Arduino IP Address</label>
    <input type="text" id="settingsplugin_dht22_tab_arduino_ip" class="input-block-level" data-bind="value: settings.plugins.dht22_tab.arduino_ip">
</div>
