<form class="form-horizontal" role="form">
    <div class="control-group">
        <label class="control-label" for="input_refresh_rate">Refresh Rate (seconds)</label>
        <div class="controls">
            <input type="number" id="input_refresh_rate" min="1" max="600" step="1" value="{{ settings.get('refresh_rate', 10) }}">
            <p class="help-block">Set the refresh rate for fetching data from the Arduino.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="input_arduino_ip">Arduino IP Address</label>
        <div class="controls">
            <input type="text" id="input_arduino_ip" value="{{ settings.get('arduino_ip', '192.168.178.57') }}">
            <p class="help-block">Enter the IP address of the Arduino running the DHT22 sensor.</p>
        </div>
    </div>
</form>