<div id="navbar_plugin_wifistatus_div" class="pull-right navbar-text">
    <span class="dht22-icon">🌡️</span><span id="navbar_temperature">--</span>°C
    <span class="dht22-icon">💧</span><span id="navbar_humidity">--</span>%
</div>