<div id="dht22_tab">
    <span class="dht22-icon">🌡️</span><span id="navbar_temperature">--</span>°C
    <span class="dht22-icon">💧</span><span id="navbar_humidity">--</span>%
</div>
<div id="dht22_log"></div>
