<div id="dht22_tab">
    <div id="temperature_icon" class="dht22-icon"><i class="fa fa-thermometer-empty"></i> <span id="temperature"></span></div>
    <div id="humidity_icon" class="dht22-icon"><i class="fa fa-tint"></i> <span id="humidity"></span></div>
    <div id="dht22_log"></div>
</div>
