<div id="dht22_tab">
    <iframe src="/plugin/dht22_tab/arduino_data" width="100%" height="600px"></iframe>
</div>
<div id="dht22_topbar" style="float:right; padding:10px;">
    <!-- DHT22 data will be inserted here -->
</div>
